@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

.content_container {
  height: 100vh;
  background: url("./assets/images/bg-sidebar-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(217, 100%, 97%);
  gap: 35px;
  position: relative;
}

.route-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.route-list-item {
  padding: 20px 10px;
  font-size: 2rem;
}

.route-list-item button {
  border-radius: 50%;
  border: 2px solid white;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  font-weight: 500;
}

.selected {
  background-color: var(--Light-blue);
  color: var(--Marine-blue);
}

.notselected {
  background-color: transparent;
  color: white;
}

.form-container {
  background-color: white;
  padding: 40px 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0.5rem;
  font-weight: 500;
}

.Personal-heading {
  font-size: 1.8rem;
}
.form-info {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.form-description {
  color: gray;
  line-height: 1.5rem;
}

.form-next-step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-info {
  position: relative;
}

.err {
  font-size: 0.9rem;
  color: var(--Strawberry-red);
  position: absolute;
  right: 0;
}

.change {
  cursor: pointer;
}

#name,
#email,
#phoneno {
  width: 100%;
}

.personal-info input:focus {
  border: 2px solid var(--Purplish-blue);
  outline: none;
}

.form-container input {
  padding: 15px 15px;
  border-radius: 0.5rem;
  font-weight: 500;
}

.footer-button {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 30px 0px;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.next-btn-right {
  justify-content: space-between;
}

.next-btn {
  color: #fff;
  font: bold;
  border: none;
  background-color: hsl(213, 96%, 18%);
  border-radius: 0.4rem;
  padding: 1rem;
  cursor: pointer;
}

.goback-btn {
  color: var(--Cool-gray);
  font: bold;
  border: none;
  background-color: transparent;
  border-radius: 0.4rem;
  padding: 1rem;
  cursor: pointer;
}

.select-your-plan input {
  display: none;
}

.plan-container label {
  display: flex;
  column-gap: 20px;
  padding: 15px 15px;
  border-radius: 0.5rem;
  font-weight: 500;
  border: 1px solid grey;
  cursor: pointer;
}

.plan-price {
  color: var(--Cool-gray);
}

.plan {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.plan-info {
  row-gap: 0.7rem;
}

.hide {
  display: none;
}

.plan-free {
  font-size: 0.9rem;
  font-weight: 400;
}

.plan-container:has(> input[type="radio"]:checked) {
  border: 1px solid var(--Purplish-blue);
  background-color: var(--Magnolia);
  border-radius: 0.5rem;
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 100%, 97%);
  color: hsl(213, 96%, 18%);
  font-weight: 600;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 20px 0px;
}

.switch-container span {
  margin: 0 20px;
}

.toggle {
  background-color: hsl(213, 96%, 18%);
  border-radius: 0.8rem;
  width: 3rem;
  height: 1.5rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s linear;
}

.toggle::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.5rem;
  margin: 5px;
  transition: 0.3s linear;
}

#yearly {
  color: hsl(231, 11%, 63%);
}

#switch:checked + .toggle::after {
  transform: translateX(1.5rem);
}

#switch {
  display: none;
}

.pick-container {
  display: flex;
  justify-content: space-around;
  gap: 1.2rem;
  align-items: center;
  padding: 15px 10px;
  border-radius: 0.5rem;
  font-weight: 500;
  border: 1px solid grey;
  cursor: pointer;
}

.pick-container input {
  cursor: pointer;
}

.add-ons {
  flex-basis: 10rem;
}

.sub-title {
  /* max-width: 0.2rem; */
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--Cool-gray);
}

.price-addon {
  color: var(--Purplish-blue);
}

.pick-container:has(> input[type="checkbox"]:checked) {
  border: 2px solid var(--Purplish-blue);
  background-color: var(--Magnolia);
}

.pick-container input:checked {
  accent-color: var(--Purplish-blue);
}

/* Style For Finshing Page*/

.calculate-price {
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 1rem;
}

.slected-plan,
.online-service,
.larger-storage,
.customizable-profile,
.total-bill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.mode {
  padding-bottom: 0.7rem;
  font-weight: 500;
}

hr {
  border: 1px solid hsl(229deg 24% 87%);
}

.calculate-price {
  background-color: var(--Magnolia);
}

.selected-pick-add-ons {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1.5rem;
  color: var(--Cool-gray);
}

.mode-name,
.mode-price {
  color: hsl(213deg 96% 18%);
}

.online-service-price,
.larger-storage-price,
.customizable-profile-price,
.total-bill-name,
.change {
  color: var(--Cool-gray);
}

.total-bill {
  padding: 0 1.2rem;
}

.total-bill-price {
  color: hsl(243deg 100% 62%);
  font-weight: bold;
}

.hide {
  display: none;
}

/* Thank You Section */

.thankyou-img {
  /* width: 3rem; */
  margin: auto;
}

.thankYou {
  text-align: center;
}

.steps {
  display: none;
}

.plan-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Media Query For Dekstop */

@media screen and (min-width: 1050px) {
  body {
    background-color: var(--Magnolia);
  }

  .content_container {
    flex-direction: row;
    background: none;
    margin: auto;
    margin-top: 10vh;
    width: 60%;
    justify-content: center;
    background-color: var(--White);
    padding: 0rem 1rem;
    background-color: #fff;
    height: 80vh;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 95%;
    position: relative;
  }

  .form-container {
    width: 80%;
  }

  .form-info {
    display: flex;
    flex-direction: column;
  }

  .plan-info {
    row-gap: 1.7rem;
  }

  .footer-button {
    width: 95%;
  }

  .sidebar {
    background: url("./assets/images/bg-sidebar-desktop.svg");
    width: 35%;
    height: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    left: 0;
    border-radius: 1rem;
    padding: 3rem 1rem;
  }

  .steps {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .step {
    color: var(--Cool-gray);
  }
  .step-detail {
    color: var(--White);
  }

  .route-list {
    flex-direction: column;
  }

  .route-list-item {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    gap: 20px;
    width: 100%;
  }

  .plan-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .plan-container {
    padding: 5px 20px;
    width: 30%;
  }

  .plan-container label {
    border: none;
    flex-direction: column;
    gap: 20px;
  }

  .plan-image {
    width: 3rem;
  }

  .pick-container {
    width: 100%;
    padding: 20px 10px;
  }

  .pick-container input {
    width: 1.5rem;
    height: 1.5rem;
  }

  .add-ons {
    flex-basis: 13rem;
  }

  .calculate-price {
    padding: 2rem;
  }

  .selected-pick-add-ons {
    padding-top: 2rem;
  }

  .thankYou {
    margin: auto;
    text-align: center;
    width: 80%;
  }

  .thankYou .form-container {
    margin: auto;
    padding: 0px;
  }
}
